body {
	background-color: #002b49;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  width: 90%;
}

.container.canvas {
	padding-top: 5px;
}

.container.players {
	min-height: 120px;
}

.player-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.player-icon {
	display: inline-block;
	width: 120px;
	height: 120px;
	background: url('player-icons.svg') 0 0 no-repeat;
}

.player-icon.left {
	float: left;
}

.player-icon.right {
	float: right;
}

.player-icon.person-1 {
	background-position: 0px -1280px;
}
.player-icon.person-2 {
	background-position: -128px -1280px;
}
.player-icon.person-3 {
	background-position: -256px -1280px;
}
.player-icon.person-4 {
	background-position: -385px -1280px;
}
.player-icon.person-5 {
	background-position: -512px -1280px;
}
.player-icon.person-6 {
	background-position: -640px -1280px;
}
.player-icon.person-7 {
	background-position: -768px -1280px;
}
.player-icon.person-8 {
	background-position: -896px -1280px;
}
.player-icon.person-9 {
	background-position: -895px -1280px;
}
.player-icon.person-10 {
	background-position: -1024px -1280px;
}
